<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.maybe.xuning.en" platformBuildVersionCode="28" platformBuildVersionName="9" android:versionCode="11" android:versionName="1.0.1" android:compileSdkVersion="28" android:compileSdkVersionCodename="9">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28"/>
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_logo" android:name="com.stub.StubApp" android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <meta-data android:name="ScopedStorage" android:value="true"/>
        <activity android:label="@string/app_name" android:name="com.maybe.xuning.en.WelcomeActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter"/>
        </activity>
        <activity android:theme="@style/Theme.Translucent" android:name="com.tencent.bugly.beta.ui.BetaActivity" android:configChanges="locale|keyboardHidden|orientation|screenSize"/>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.maybe.xuning.en.fileProvider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="com.maybe.xuning.en.MainActivity"/>
        <activity android:name="com.maybe.xuning.en.ResultActivity"/>
        <activity android:name="com.maybe.xuning.en.PrintEditActivity"/>
        <meta-data android:name="android.notch_support" android:value="true"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.lxj.xpopup.util.XPermission$PermissionActivity"/>
        <activity android:name="com.tencent.bugly.beta.ui.BetaActiveAlertActivity"/>
        <provider android:name="com.tencent.bugly.beta.utils.BuglyFileProvider" android:exported="false" android:authorities="com.maybe.xuning.en.fileProvider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <service android:name="com.tencent.bugly.beta.tinker.TinkerResultService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <activity android:theme="@style/ActivityTranslucent" android:name="com.blankj.utilcode.util.UtilsTransActivity4MainProcess" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:theme="@style/ActivityTranslucent" android:name="com.blankj.utilcode.util.UtilsTransActivity" android:multiprocess="true" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:name="com.blankj.utilcode.util.UtilsFileProvider" android:exported="false" android:authorities="com.maybe.xuning.en.utilcode.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/util_code_provider_paths"/>
        </provider>
        <service android:name="com.blankj.utilcode.util.MessengerUtils$ServerService" android:exported="false">
            <intent-filter>
                <action android:name="com.maybe.xuning.en.messenger"/>
            </intent-filter>
        </service>
    </application>
</manifest>
